{% extends 'base.html' %}

{% block title%}
login
{% endblock %}

{% block content%}

{% load static %}


<div class="" style="background-image: url({% static '/images/register.jpg'%}); background-size: cover;">
<div style="display: flex; justify-content: center; align-items: top; height: 100vh;">
    <form action="{% url 'login' %}" method="post" style="text-align: center;">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your username"><br>
        <input type="password" name="password" placeholder="Enter your password"><br>
        <input type="submit" value="Submit">
        <p>Don't have an account? <a href="{% url 'register' %}" id="registerLink">Register</a></p>
    </form>
</div>
</div>



{% for msg in messages %}
{{msg}}
{% endfor %}


{% endblock %}